@{
    ViewData["Title"] = "Anasayfa";
}

<div class="jumbotron d-flex align-items-center">
    <div class="container">
        <h1 class="display-4">Hoş geldiniz</h1>
        <p>Bu proje ASP.NET Core ile geliştirilmiştir.</p>
    </div>
</div>
